.booking {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2.5rem 0 5.5rem 0;
    padding: 0;
    color: #3E484A;
    animation: fadeIn ease 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.booking img {
    width: 100%;
}

.cal {
    background: #315EAD;
    height: 500px;
    object-fit: cover;
}

.booking-text p:nth-child(1) {
    font-weight: bold;
    font-size: 18px;
}

.booking-text p:nth-child(2) {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.booking h2 {
    font-family: 'TAN Aegean';
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.booking-text {
    text-align: center;
    padding: 1.5rem 0 1.5rem 0;
    margin: 0 1rem 0 1rem;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    margin-bottom: 2rem;
}