.layout {
    display: grid;
    grid-template-columns: 33% 67%;
    align-items: center;
    justify-content: center;
}

.layout main {
    height: calc(100vh - 60px);
    overflow-y: scroll;
}

.dev {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 0;
    margin-bottom: -8px;
}

.dev a {
    margin: 25px;

}


/* --- Media Inquiries --- */

@media (max-width: 850px) {
    .layout {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .dev {
        display: none;
    }
}